body { background: #000; -webkit-background-size: auto; color: #efc9a0; font: normal 12px/1.5 Arial, Verdana, sans-serif; }

	/* class */
	.color-c1,  .color-c1 a { color: #c69b6d !important; } /* warrior */
	.color-c2,  .color-c2 a { color: #f48cba !important; } /* paladin */
	.color-c3,  .color-c3 a, .color-g2 { color: #aad372 !important; } /* hunter */
	.color-c4,  .color-c4 a, .color-g1 { color: #fff468 !important; } /* rogue */
	.color-c5,  .color-c5 a { color: #f0ebe0 !important; } /* priest */
	.color-c6,  .color-c6 a { color: #c41e3b !important; } /* death knight */
	.color-c7,  .color-c7 a { color: #2359ff !important; } /* shaman */
	.color-c8,  .color-c8 a, .color-g3 { color: #68ccef !important; } /* mage */
	.color-c9,  .color-c9 a { color: #9382c9 !important; } /* warlock */
	.color-c10, .color-c10 a { color: #00ffba !important; } /* monk */
	.color-c11, .color-c11 a, .color-g4 { color: #ff7c0a !important; } /* druid */

#player-spec .class-spec { width: 20%; margin: 0 0 5px 0; display: inline-block;
    list-style: none;
	vertical-align:top;
	}
#player-spec .class-spec label { display: inline-block; }
#player-spec .class-spec .spec { padding-left: 10px }
#player-spec .class-spec .spec input { vertical-align: top; }
#player-spec .class-spec .spec label { width: 110px; }
#player-spec .class-spec .all-spec input { vertical-align: top; }
#player-spec .class-spec .all-spec label { font-weight: bold; width: 115px;}


